POSTGRES_USER=trads
POSTGRES_PASSWORD=trocar_essa_senha
POSTGRES_DB=painel_mercado

DATABASE_URL=postgresql://trads:trocar_essa_senha@db:5432/painel_mercado

TEST_POSTGRES_USER=trads
TEST_POSTGRES_PASSWORD=trocar_essa_senha
TEST_POSTGRES_DB=painel_mercado_test
TEST_DATABASE_URL=postgresql://trads:trocar_essa_senha@db-test:5432/painel_mercado_test
